<div class="page-header">
  <h1>Browse Blueprints</h1>
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<table>
			<tr>
				<td class="info-icon"><span class="glyphicon glyphicon-info-sign"></span></td>
				<td class="info-text">Click on a group to expand and view related blueprints</td>
			</tr>
		</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
	
	  <%= paginate @blueprint_groups %>
		<div class="panel-group" id="blueprint-groups">
			<% @blueprint_groups.each do |group| %>
				<div id="<%= group.id %>" class="panel panel-default">
					<div class="panel-heading">
						<a class="blueprint-toggle" data-toggle="collapse" data-parent="#blueprint-groups" href="#<%= group.id %>-collapse">
							<div class="row">
								<div class="col-xs-12">
									<table>
										<tr>
											<td><span class="glyphicon glyphicon-expand"></span></td>
											<td>
												<h4 class="panel-title">
													<%= group.name %>
												</h4>
											</td>
										</tr>
									</table>
								</div>
							</div>
					
						</a>
					</div>
					<div id="<%= group.id %>-collapse" class="panel-collapse collapse">
						<div class="panel-body">
						  <% group.members.each do |blueprint| %>
						    <table class='blueprint'>
						      <tr>
						        <td width='32' height='32' class='blueprint-image'><img src="<%= blueprint.images['small'] %>" /></td>
						        <td class='blueprint-name'><a href="<%= blueprint.id %>"><%= blueprint.name %></a></td>
						      <tr>
						    </table>
						  <% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		
	</div>
</div>
