<div id="blueprints-index">
	<div class="page-header">
		<%= form_tag("/blueprints", :method => :get, :class => "navbar-form navbar-right") do %>
			<div class="form-group">
				<%= text_field_tag :like_name, nil, :placeholder => "Search blueprints", :autocomplete => :off, :class => "form-control" %>
			</div>
			<%= submit_tag "Search", :class => "btn btn-default" %>
		<% end %>
		<h1>Search Blueprints</h1>
	</div>
	
	<table class="table table-condensed table-hover table-striped">
    <tr>
      <th>Name</th>
    </tr>

  <% @blueprints.each do |blueprint| %>
    <tr class="blueprint">
      <td><img src='<%= blueprint["images"]["small"] %>' />&nbsp;<%= link_to blueprint["name"], blueprint_path(blueprint["id"]) %></td>
    </tr>
  <% end %>
  
  <% if @blueprints.empty? %>
    <tr class="error">
      <td>No blueprints found...</td>
    <tr>
  <% end %>
  </table>
</div>
