<div class="blueprints-show" id="<%= @blueprint['id'] %>">
	<div class="row">
		<div class="col-md-12">
			<table class="blueprint-header">
				<tr>
					<td class="blueprint-image"><img src="<%= @blueprint['images']['thumb'] %>" width='64' height='64' /></td>
					<td class="blueprint-name"><h3><%= @blueprint["name"] %></h3></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="row blueprint-nav">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="nav-home-title active"><a href="#home" data-toggle="tab">Home</a></li>
				<li class="nav-materials-title"><a href="#materials" data-toggle="tab">Bill of Materials</a></li>
				<li class="nav-history-title"><a href="#history" data-toggle="tab">Market History</a></li>
				<li class="nav-skills-title"><a href="#skills" data-toggle="tab">Required Skills</a></li>
			</ul>
		</div>
	</div>
	
	<div class="tab-content">
		<div class="tab-pane active" id="home">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">Production Details</div>
						<div class="panel-body">
							<table class="table table-condensed">
								<tr>
									<th>Units Produced</th>
									<th>Unit Sell Price</th>
									<th>Production Cost</th>
									<th>Profit Margin</th>
								</tr>
		
								<tr>
									<td class="item-units-produced"><%= @product["portion_size"] %></td>
									<td class="item-sell-price" id="<%= @blueprint['product_id'] %>">0</td>
									<td class="item-total-cost">0</td>
									<td class="item-profit-margin">0</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end home -->
		
		<div class="tab-pane" id="materials">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">Raw Materials</div>
						<div class="panel-body">
							<div id="raw-materials" class="panel panel-default">
								
								<!-- Heading for material list -->
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-10">Name</div>
										<div class="col-xs-2"><span class="pull-right">Quantity</span></div>
									</div>
								</div>
							
								<% @raw_materials.each do |material| %>
									<div id="raw-<%= material['material']['id'] %>" class="panel-heading">
										<a class="material-toggle" data-toggle="collapse" data-parent="#raw-materials" href="#raw-<%= material['material']['id'] %>-collapse">
											<div class="row">
												<div class="col-xs-10">
													<table>
														<tr>
															<td><img src="<%= material['images']['small'] %>" /></td>
															<td><%= material['material']['name'] %></td>
														</tr>
													</table>
												</div>
												<div class="col-xs-2"><span id="raw-<%= material['material']['id'] %>-quantity" class="pull-right"><%= material['quantity'] %></span></div>
											</div>
										</a>
									</div>
									<div id="raw-<%= material['material']['id'] %>-collapse" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="panel panel-primary">
												<div class="row">
													<div class="col-xs-4">
														<div class="panel-heading">Unit Price</div>
														<div class="panel-body">
															<span id="raw-<%= material['material']['id'] %>-unit-price"></span>
														</div>
													</div>
													
													<div class="col-xs-4">
														<div class="panel-heading">Total Price</div>
														<div class="panel-body">
															<span id="raw-<%= material['material']['id'] %>-total-price"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								<% end %>
								
								<% if @raw_materials.empty? %>
									<div class="panel-heading">No raw materials found.</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
		
				<div class="col-xs-12 col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">Extra Materials</div>
						<div class="panel-body">
						
							<div id="extra-materials" class="panel panel-default">
							
								<!-- Heading for material list -->
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-10">Name</div>
										<div class="col-xs-2"><span class="pull-right">Quantity</span></div>
									</div>
								</div>
							
								<% @extra_materials.each do |material| %>
									<div id="extra-<%= material['material']['id'] %>" class="panel-heading">
										<a class="material-toggle" data-toggle="collapse" data-parent="#extra-materials" href="#extra-<%= material['material']['id'] %>-collapse">
											<div class="row">
												<div class="col-xs-10">
													<table>
														<tr>
															<td><img src="<%= material['images']['small'] %>" /></td>
															<td><%= material['material']['name'] %></td>
														</tr>
													</table>
												</div>
												<div class="col-xs-2"><span id="extra-<%= material['material']['id'] %>-quantity" class="pull-right"><%= material['quantity'] %></span></div>
											</div>
										</a>
									</div>
									<div id="extra-<%= material['material']['id'] %>-collapse" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="panel panel-primary">
												<div class="row">
													<div class="col-xs-5">
														<div class="panel-heading">Unit Price</div>
														<div class="panel-body">
															<span id="extra-<%= material['material']['id'] %>-unit-price"></span>
														</div>
													</div>
													
													<div class="col-xs-2">
														<div class="panel-heading">Damage</div>
														<div class="panel-body">
															<span id="extra-<%= material['material']['id'] %>-damage"><%= material['damage_per_job'] %></span>
														</div>
													</div>
													
													<div class="col-xs-5">
														<div class="panel-heading">Total Price</div>
														<div class="panel-body">
															<span id="extra-<%= material['material']['id'] %>-total-price"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								<% end %>
								
								<% if @extra_materials.empty? %>
									<div class="panel-heading">No extra materials found.</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end materials -->
		
		<div class="tab-pane" id="history">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div id="min_sell_history_chart"></div>
				</div>
				
				<div class="col-xs-12 col-md-6">
					<div id="trade_volume_history_chart"></div>
				</div>
			</div>
		</div> <!-- end history -->
		
		<div class="tab-pane" id="skills">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">Manufacturing Skills</div>
						<div class="panel-body">
							<table class="blueprint-skills"></table>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end skills -->
	</div>
</div>
