<div class="blueprints-show" id="<%= @blueprint.id %>">
	<div class="row">
		<div class="col-md-12">
			<table class="blueprint-header">
				<tr>
					<td class="blueprint-image"><img src="<%= @blueprint.images['thumb'] %>" width='64' height='64' /></td>
					<td class="blueprint-name"><h3><%= @blueprint.name %></h3></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="row blueprint-nav">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="nav-home-title active"><a href="#home" data-toggle="tab">Statistics</a></li>
				<li class="nav-materials-title"><a href="#materials" data-toggle="tab">Bill of Materials</a></li>
				<% if @blueprint.tech_level == 2 %>
				<li class="nav-invention-title"><a href="#invention" data-toggle="tab">Invention Materials</a></li>
				<% end %>
				<li class="nav-skills-title"><a href="#skills" data-toggle="tab">Required Skills</a></li>
			</ul>
		</div>
	</div>
	
	<div class="tab-content">
		<div class="tab-pane active" id="home">
			<div class="row">
				<div class="col-xs-12 col-md-6 col-lg-8">
					<div class="panel panel-primary">
						<div class="panel-heading">Manufacturing Results</div>
						<div class="panel-body">
							<div class="panel panel-default">
								<div class="panel-heading">
								
									<div class="row">
										<div class="col-xs-5">Material Waste</div>
										<div class="col-xs-7"><span class="pull-right item-waste-factor"><%= (@blueprint.waste["current"] * 100).round(2) %>%</span></div>
									</div>
								</div>
								
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-5">Units Produced</div>
										<div class="col-xs-7"><span class="pull-right item-units-produced"><%= @blueprint.product['batch_size'] %></span></div>
									</div>
								</div>
								
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-5">Unit Sell Price</div>
										<div class="col-xs-7"><span id="<%= @blueprint.product['id'] %>" class="pull-right item-sell-price"><%= image_tag "loading.gif" %></span></div>
									</div>
								</div>
								
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-5">Production Costs</div>
										<div class="col-xs-7"><span class="pull-right item-total-cost"><%= image_tag "loading.gif" %></span></div>
									</div>
								</div>
								
								<% if @blueprint.invented %>
									<div class="panel-heading">
										<div class="row">
											<div class="col-xs-5">Invention Costs</div>
											<div class="col-xs-7"><span class="pull-right item-invention-cost"><%= image_tag "loading.gif" %></span></div>
										</div>
									</div>
								<% end %>
								
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-5">Profit Margin</div>
										<div class="col-xs-7"><span class="pull-right item-profit-margin"><%= image_tag "loading.gif" %></span></div>
									</div>
								</div>
								
							</div>
						</div> <!-- end panel body -->
					</div>
					
					<div class="panel panel-primary">
	          <div class="panel-heading">View Market History</div>
	          <div class="panel-body">
	            <div class="panel-heading">
                <%= link_to "#{@blueprint.name} Price History", "/markets/#{@blueprint.region_id}/types/#{@blueprint.id}", :class=>"btn btn-success btn-lg btn-block" %>
              </div>
              
              <div class="panel-heading">
                <%= link_to "Product Price History", "/markets/#{@blueprint.region_id}/types/#{@blueprint.product['id']}", :class=>"btn btn-success btn-lg btn-block" %>
              </div>
	          </div>
          </div>
				</div> <!-- end column -->
				
				<%= form_tag("/blueprints/#{@blueprint.id}", :method => :get) do %>
				<div class="col-xs-12 col-md-6 col-lg-4">
				  
				  <%= render 'layouts/market_details', 
            :item => @blueprint,
            :exclude_solar_systems => false,
            :exclude_items => true,
            :can_submit => false %>
				  
					<div class="panel panel-primary">
						<div class="panel-heading">Blueprint Research Options</div>
						<div class="panel-body">
						  
						  <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">Material Efficiency</span>
                  <%= select_tag(:ME, options_for_select(-4..20, @blueprint.material_efficiency), :class=>"form-control") %>
                </div>
              </div>
              
              <% if @blueprint.tech_level == 2 %>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <%= check_box_tag(:invented, "yes", @blueprint.invented ? true : false) %>
                  </span>
                  <span class="input-group-addon">Include Invention Prices</span>
                </div>
              </div>
              <% end %>
							
						</div>
					</div> <!-- end research details panel -->
					
					<!-- Submit button -->
					<div class="form-group">
						<button type="submit" id="update-blueprint" class="btn btn-success btn-lg btn-block">Update Blueprint</button>
					</div>
					
				</div> <!-- end column -->
			</div>
			<% end %> <!-- end blueprint form-->
		</div> <!-- end home tab -->
		
		<div class="tab-pane" id="materials">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">Raw Materials</div>
						<div class="panel-body">
							<div id="raw-materials" class="panel panel-default">
								
								<!-- Heading for material list -->
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-10">Name</div>
										<div class="col-xs-2"><span class="pull-right">Quantity</span></div>
									</div>
								</div>
							
								<% @blueprint.materials.each do |item| %>
									<div id="<%= item['material']['id'] %>" class="raw-material panel-heading">
										<a class="material-toggle" data-toggle="collapse" data-parent="#raw-materials" href="#<%= item['material']['id'] %>-collapse">
											<div class="row">
												<div class="col-xs-2">
													<img src="<%= item['images']['small'] %>" />
												</div>
												<div class="col-xs-8">
													<%= item['material']['name'] %>
												</div>
												<div class="col-xs-2">
													<span id="<%= item['material']['id'] %>-quantity" class="pull-right"><%= item['total_quantity'] %></span>
												</div>
											</div>
										</a>
									</div>
									<div id="<%= item['material']['id'] %>-collapse" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="panel panel-default">
												<div class="panel-heading">
													<div class="row">
														<div class="col-xs-2">Type</div>
														<div class="col-xs-10"><span class="pull-right"><%= item['group']['name'] %></span></div>
													</div>
												</div>
												
												<div class="panel-heading">
													<div class="row">
														<div class="col-xs-2">Wasted</div>
														<div class="col-xs-10"><span class="pull-right"><%= item['wasted_quantity'] %></span></div>
													</div>
												</div>
												
												<div class="panel-heading">
													<div class="row">
														<div class="col-xs-5">Unit Price</div>
														<div class="col-xs-7">
															<span id="<%= item['material']['id'] %>-unit-price" class="pull-right"></span>
														</div>
													</div>
												</div>
												
												<div class="panel-heading">
													<div class="row">
														<div class="col-xs-5">Total Price</div>
														<div class="col-xs-7">
															<span id="<%= item['material']['id'] %>-total-price" class="pull-right"></span>
														</div>
													</div>
												</div>
												
											</div> <!-- end panel -->
										</div>
									</div> <!-- end panel collapse -->
								<% end %>
								
								<% if @blueprint.materials.empty? %>
									<div class="panel-heading">No raw materials found.</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
		
				<div class="col-xs-12 col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">Components</div>
						<div class="panel-body">
						
							<div id="component-materials" class="panel panel-default">
							
								<!-- Heading for material list -->
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-10">Name</div>
										<div class="col-xs-2"><span class="pull-right">Quantity</span></div>
									</div>
								</div>
							
								<% @blueprint.components.each do |item| %>
									<div id="<%= item['material']['id'] %>" class="component panel-heading">
										<div class="row">											
											<a class="material-toggle" data-toggle="collapse" data-parent="#component-materials" href="#<%= item['material']['id'] %>-collapse">
												<div class="col-xs-2">
													<img src="<%= item['images']['small'] %>" />
												</div>
												<div class="col-xs-8">
													<%= item['material']['name'] %>
												</div>
												<div class="col-xs-2"><span id="<%= item['material']['id'] %>-quantity" class="pull-right"><%= item['total_quantity'] %></span></div>
											</a>
										</div>
									</div>
									<div id="<%= item['material']['id'] %>-collapse" class="panel-collapse collapse">
										<div class="panel-body">
											<div class="panel panel-default">
												<div class="panel-heading">
													<div class="row">
														<div class="col-xs-2">Type</div>
														<div class="col-xs-10"><span class="pull-right"><%= item['group']['name'] %></span></div>
													</div>
												</div>
												
												<div class="panel-heading">
													<div class="row">
														<div class="col-xs-2">Wasted</div>
														<div class="col-xs-10"><span class="pull-right"><%= item['wasted_quantity'] %></span></div>
													</div>
												</div>
												
												<div class="panel-heading">
													<div class="row">
														<div class="col-xs-5">Consumed</div>
														<div class="col-xs-7">
															<span class="pull-right">
																<span id="<%= item['material']['id'] %>-damage" style="display:none"><%= item['damage_per_job'] %></span>
																<span><%= item['damage_per_job']*100 %>%</span>
															</span>
														</div>
													</div>
												</div>
												
												<div class="panel-heading">
													<div class="row">
														<div class="col-xs-5">Unit Price</div>
														<div class="col-xs-7">
															<span id="<%= item['material']['id'] %>-unit-price" class="pull-right"></span>
														</div>
													</div>
												</div>
												
												<div class="panel-heading">
													<div class="row">
														<div class="col-xs-5">Total Price</div>
														<div class="col-xs-7">
															<span id="<%= item['material']['id'] %>-total-price" class="pull-right"></span>
														</div>
													</div>
												</div>
												
												<div id="<%= item['material']['id'] %>-view-blueprint" class="panel-heading view-blueprint"></div>
												
											</div>
										</div>
									</div>
								<% end %>
								
								<% if @blueprint.components.empty? %>
									<div class="panel-heading">No components found.</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end materials -->
		
		<% if @blueprint.tech_level == 2 %>
		<div class="tab-pane" id="invention">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">Required Datacores</div>
						<div class="panel-body">
						
							<div id="invention-materials-datacores" class="panel panel-default">
							
								<!-- Heading for invention list -->
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-10">Name</div>
										<div class="col-xs-2"><span class="pull-right">Quantity</span></div>
									</div>
								</div>
								
								<% if @blueprint.invention["datacores"].empty? %>
									<div class="panel-heading">No datacores found.</div>
								<% else %>
									<%= render partial: "invention_component", collection: @blueprint.invention["datacores"], as: :item, locals: {exclude_price: false} %>
								<% end %>
							
							</div>
						</div>
					</div>
				</div> <!-- end column -->
				
				<div class="col-xs-12 col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">Required Data Interface</div>
						<div class="panel-body">
						
							<div id="invention-materials-interface" class="panel panel-default">
							
								<!-- Heading for invention list -->
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-10">Name</div>
										<div class="col-xs-2"><span class="pull-right">Quantity</span></div>
									</div>
								</div>
								
								<% if @blueprint.invention["data_interface"].nil? %>
									<div class="panel-heading">No data interface found.</div>
								<% else %>
									<%= render partial: "invention_component", locals: {item: @blueprint.invention["data_interface"], exclude_price: true} %>
								<% end %>
							
							</div>
						</div>
					</div>
				</div> <!-- end column -->
			</div>
		</div> <!-- end invention -->
		<% end %>
		
		<div class="tab-pane" id="skills">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="panel panel-primary">
					
						<div class="panel-heading">Required Manufacturing Skills</div>
						<div class="panel-body">
							<div class="panel panel-default">
							
								<!-- Heading for skills list -->
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-10">Name</div>
										<div class="col-xs-2"><span class="pull-right">Level</span></div>
									</div>
								</div>
							
								<% @blueprint.skills["manufacturing"].each do |item| %>
									<div class="panel-heading">
										<div class="row">
											<div class="col-xs-2"><img src="<%= item['images']['small'] %>" /></div>
											<div class="col-xs-8"><%= item["material"]["name"] %></div>
											<div class="col-xs-2"><span class="pull-right"><%= item["quantity"] %></span></div>
										</div>
									</div>
								<% end %>
					
								<% if @blueprint.skills["manufacturing"].empty? %>
									<div class="panel-heading">No skills found.</div>
								<% end %>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end skills -->
	</div>
</div>
