<div class="blueprints-show" id="<%= @blueprint['id'] %>">
	<div class="row">
		<div class="col-md-12">
			<table class="blueprint-header">
				<tr>
					<td class="blueprint-image"><img src="<%= @blueprint['images']['thumb'] %>" width='64' height='64' /></td>
					<td class="blueprint-name"><h3><%= @blueprint["name"] %></h3></td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="row blueprint-nav">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="nav-home-title active"><a href="#home" data-toggle="tab">Home</a></li>
				<li class="nav-materials-title"><a href="#materials" data-toggle="tab">Bill of Materials</a></li>
				<li class="nav-history-title"><a href="#history" data-toggle="tab">Market History</a></li>
				<li class="nav-skills-title"><a href="#skills" data-toggle="tab">Required Skills</a></li>
			</ul>
		</div>
	</div>
	
	<div class="tab-content">
		<div class="tab-pane active" id="home">
			<div class="row">
				<div class="col-xs-12">
					<table class="table table-condensed">
						<tr>
							<th>Units Produced</th>
							<th>Unit Sell Price</th>
							<th>Production Cost</th>
							<th>Profit Margin</th>
						</tr>
		
						<tr>
							<td class="item-units-produced"><%= @product["portion_size"] %></td>
							<td class="item-sell-price" id="<%= @blueprint['product_id'] %>">0</td>
							<td class="item-total-cost">0</td>
							<td class="item-profit-margin">0</td>
						</tr>
					</table>
				</div>
			</div>
		</div> <!-- end home -->
		
		<div class="tab-pane" id="materials">
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">Raw Materials</div>
						<div class="panel-body">
							<table class="table table-condensed table-hover table-striped">
								<tr>
									<th></th>
									<th>Name</th>
									<th>Quantity</th>
									<th>Unit Price</th>
									<th>Total Price</th>
								</tr>

								<% @raw_materials.each do |material| %>
									<tr id="raw-<%= material['material']['id'] %>" class="raw-material">
										<td class="raw-material-image"><img src="<%= material['images']['small'] %>" /></td>
										<td class="raw-material-name"><%= material['material']['name'] %></td>
										<td class="raw-material-quantity"><%= material['quantity'] %></td>
										<td class="raw-material-unit-price">Loading...</td>
										<td class="raw-material-total-price">Loading...</td>
									</tr>
								<% end %>
	
								<% if @raw_materials.empty? %>
									<tr class="danger">
										<td colspan="5">No raw materials found.</td>
									<tr>
								<% end %>
								</table>
						</div>
					</div>
				</div>
		
				<div class="col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">Extra Materials</div>
						<div class="panel-body">
							<table class="table table-condensed table-hover table-striped">
								<tr>
									<th></th>
									<th>Name</th>
									<th>Quantity</th>
									<th>Unit Price</th>
									<th>Total Price</th>
								</tr>

								<% @extra_materials.each do |material| %>
									<tr id="extra-<%= material['material']['id'] %>" class="extra-material">
										<td class="extra-material-image"><img src="<%= material['images']['small'] %>" /></td>
										<td class="extra-material-name"><%= material['material']['name'] %></td>
										<td class="extra-material-quantity"><%= material['quantity'] %></td>
										<td class="extra-material-unit-price">Loading...</td>
										<td class="extra-material-total-price">Loading...</td>
									</tr>
								<% end %>
	
								<% if @extra_materials.empty? %>
									<tr class="danger">
										<td colspan="5">No extra materials found.</td>
									<tr>
								<% end %>
								</table>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end materials -->
		
		<div class="tab-pane" id="history">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div id="min_sell_history_chart"></div>
				</div>
				
				<div class="col-xs-12 col-md-6">
					<div id="trade_volume_history_chart"></div>
				</div>
			</div>
		</div> <!-- end history -->
		
		<div class="tab-pane" id="skills">
			<div class="row">
				<div class="col-xs-4 col-md-3">
					<div class="panel panel-primary">
						<div class="panel-heading">Manufacturing Skills</div>
						<div class="panel-body">
							<table class="blueprint-skills"></table>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end skills -->
	</div>
</div>
