<div id="blueprints-show">
	<div>
		<img src="<%= @blueprint['images']['thumb'] %>" />&nbsp;<b><%= @blueprint["name"] %></b>
	</div>
	
	<div id="total-cost">Total Cost: </div>
	<div id="jita-sell-price"><span id="<%= @blueprint['product_id'] %>">Sell Price: </span></div>
	<div id="profit-margin">Profit Margin: </div>
	
	<div>
		<br />
		<b>Required Skills</b>
		
		<table class="table table-condensed table-hover table-striped">
    <tr>
      <th>Name</th>
      <th>Level</th>
    </tr>

		<% @skills.each do |material| %>
		  <tr class="skill">
		    <td><img src="<%= material['images']['small'] %>" />&nbsp;<%= material['material']['name'] %></td>
		    <td><%= material['quantity'] %></td>
		  </tr>
		<% end %>
		
		<% if @skills.empty? %>
		  <tr class="error">
		    <td colspan="2">No skills found.</td>
		  <tr>
		<% end %>
		</table>
	</div>
	
	<div>
		<br />
		<b>Raw Materials</b>
		
		<table class="table table-condensed table-hover table-striped">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit Price (Jita)</th>
      <th>Total Price</th>
    </tr>

		<% @raw_materials.each do |material| %>
		  <tr id="raw-<%= material['material']['id'] %>" class="raw-material">
		    <td class="raw-material-name">
		    	<img src="<%= material['images']['small'] %>" />&nbsp;<%= material['material']['name'] %>
		    </td>
		    <td class="raw-material-quantity"><%= material['quantity'] %></td>
		    <td class="raw-material-unit-price">Loading...</td>
		    <td class="raw-material-total-price">Loading...</td>
		  </tr>
		<% end %>
		
		<% if @raw_materials.empty? %>
		  <tr class="error">
		    <td colspan="4">No raw materials found.</td>
		  <tr>
		<% end %>
		</table>
	</div>
	
	<div>
		<br />
		<b>Extra Materials</b>
		
		<table class="table table-condensed table-hover table-striped">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total Price</th>
    </tr>

		<% @extra_materials.each do |material| %>
		  <tr id="extra-<%= material['material']['id'] %>" class="extra-material">
		    <td class="extra-material-name"><img src="<%= material['images']['small'] %>" />&nbsp;<%= material['material']['name'] %></td>
		    <td class="extra-material-quantity"><%= material['quantity'] %></td>
		    <td class="extra-material-unit-price">Loading...</td>
		    <td class="extra-material-total-price">Loading...</td>
		  </tr>
		<% end %>
		
		<% if @extra_materials.empty? %>
		  <tr class="error">
		    <td colspan="4">No extra materials found.</td>
		  <tr>
		<% end %>
		</table>
	</div>
</div>
