<div class="markets-show" id="<%= @market.region_id %>">
  <h1>Market History</h1>
  
  <div class="row">
		<div class="col-xs-12">
			<table class="market-header">
				<tr>
					<td class="item-image"><img src="<%= @market.item.images['thumb'] %>" width='64' height='64' /></td>
					<td class="item-name"><h3><%= @market.item.name %> <small>in <%= @market.location == "region" ? @market.region.name : @market.solar_system.name %></small></h3></td>
				</tr>
			</table>
		</div>
	</div>
	
	<br />
	
	<div class="row">
	  <div class="col-xs-12">
      <%= render 'layouts/market_details', 
        :item => @market, 
        :exclude_solar_systems => false, 
        :exclude_items => false, 
        :can_submit => true %>
    </div>
	</div>
	
	<div class="row">
	  <div class="col-xs-12">
	    <div class="panel panel-primary">
        <div class="panel-heading">
          Current Market Stats in <%= @market.location == "region" ? @market.region.name : @market.solar_system.name %>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 col-lg-8">
            <div id="current_orders">loading current orders <%= image_tag "loading-big.gif" %></div>
          </div>

          <div class="col-xs-12 col-lg-4">	    
            <table class="table table-condensed">
              <tr>
                <th>Sell Orders</th>
                <th></th>
              </tr>
              <tr>
                <td>Highest Price</td>
                <td id="sell-orders-highPrice" class="text-right"><%= image_tag "loading.gif" %></td>
              </tr>
              <tr>
                <td>Lowest Price</td>
                <td id="sell-orders-lowPrice" class="text-right"><%= image_tag "loading.gif" %></td>
              </tr>
              <tr>
                <td>Total Orders</td>
                <td id="sell-orders-total" class="text-right"><%= image_tag "loading.gif" %></td>
              </tr>
              <tr>
                <td>Available Units</td>
                <td id="sell-orders-quantity" class="text-right"><%= image_tag "loading.gif" %></td>
              </tr>
            </table>
            
            <table class="table table-condensed">
              <tr>
                <th>Buy Orders</th>
                <th></th>
              </tr>
              <tr>
                <td>Highest Price</td>
                <td id="buy-orders-highPrice" class="text-right"><%= image_tag "loading.gif" %></td>
              </tr>
              <tr>
                <td>Lowest Price</td>
                <td id="buy-orders-lowPrice" class="text-right"><%= image_tag "loading.gif" %></td>
              </tr>
              <tr>
                <td>Total Orders</td>
                <td id="buy-orders-total" class="text-right"><%= image_tag "loading.gif" %></td>
              </tr>
              <tr>
                <td>Available Units</td>
                <td id="buy-orders-quantity" class="text-right"><%= image_tag "loading.gif" %></td>
              </tr>
            </table>
          </div>
        </div> <!-- end panel body -->
	    </div> <!-- end panel -->
	  </div> <!-- end column -->
	</div> <!-- end row -->
	
	<% if @market.location == "region" %>
	<div class="row">
	  <div class="col-xs-12">
	    <div class="panel panel-primary">
        <div class="panel-heading">
          Market History in <%= @market.region.name %>
        </div>
        <div class="panel-body">
          <div class="col-xs-12">
            <div id="price_history_chart">loading price history <%= image_tag "loading-big.gif" %></div>
          </div>

          <div class="col-xs-12">
            <div id="volume_history_chart">loading volume history <%= image_tag "loading-big.gif" %></div>
          </div>
        </div> <!-- end panel body -->
	    </div> <!-- end panel -->
	  </div> <!-- end column -->
	</div> <!-- end row -->
	<% end %>
</div>
