<div class="markets-show" id="<%= @market.region_id %>">
  <div class="row">
		<div class="col-xs-12">
			<table class="market-header">
				<tr>
					<td class="item-image"><img src="<%= @market.item.images['thumb'] %>" width='64' height='64' /></td>
					<td class="item-name"><h3><%= @market.item.name %> Market History <small><%= @market.region.name %></small></h3></td>
				</tr>
			</table>
		</div>
	</div>
	
	<span id="region-id" style="display:none"><%= @market.region.id %></span>
	<span id="item-id" style="display:none"><%= @market.item.id %></span>
	
	<div class="row">
	  <div class="col-xs-12 col-md-8">
	    <div class="panel panel-info">
        <div class="panel-heading">
          <table>
            <tr>
	            <td class="info-icon"><span class="glyphicon glyphicon-info-sign"></span></td>
	            <td class="info-text">Click and drag over a graph to zoom in.  Double click to reset the view</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
	</div>
	
	<div class="row">
    <div class="col-xs-12 col-md-8">
      <div id="price_history_chart"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div id="volume_history_chart"></div>
    </div>
  </div>
</div>
