<div class="markets-show" id="<%= @market.region_id %>">
  <h1>Market History</h1>
  
  <div class="row">
		<div class="col-xs-12">
			<table class="market-header">
				<tr>
					<td class="item-image"><img src="<%= @market.item.images['thumb'] %>" width='64' height='64' /></td>
					<td class="item-name"><h3><%= @market.item.name %> <small>in <%= @market.region.name %></small></h3></td>
				</tr>
			</table>
		</div>
	</div>
	
	<span id="region-id" style="display:none"><%= @market.region.id %></span>
	<span id="item-id" style="display:none"><%= @market.item.id %></span>
	
	<br />
	
	<div class="row">
	  <div class="col-xs-12">
      <%= render 'layouts/market_details', 
        :item => @market, 
        :exclude_solar_systems => true, 
        :exclude_items => false, 
        :can_submit => true %>
    </div>
	</div>
	
	<div class="row">
	  <div class="col-xs-12">
	    <div id="current_orders">loading current orders <%= image_tag "loading-big.gif" %></div>
	  </div>
	</div>
	
	<div class="row">
    <div class="col-xs-12">
      <div id="price_history_chart">loading price history <%= image_tag "loading-big.gif" %></div>
    </div>

    <div class="col-xs-12">
      <div id="volume_history_chart">loading volume history <%= image_tag "loading-big.gif" %></div>
    </div>
  </div>
</div>
