<!-- Market Details -->
<div id="market-details-panel" class="panel panel-primary">
  <div class="panel-heading">Market Filter</div>
  <div class="panel-body">

	  <div class="row">
	    <% if can_submit %>
	    <div class="col-xs-12 col-md-8">
	    <% else %>
	    <div class="col-xs-12">
	    <% end %>
	    
	      <div class="form-group">
          <div class="input-group">
            <% if !exclude_solar_systems %>
            <span class="input-group-addon">
              <%= radio_button_tag :market_in, :region, item.market_in.nil? || item.market_in == "region" %>
            </span>
            <% end %>
            
            <span class="input-group-addon">Region</span>
            <% item.region_id.nil? ? region = 10000002 : region = item.region_id %>
            <%= select_tag(:region_id, options_for_select(Region.all.map{ |r| [r.name, r.id] }, region), :class=>"form-control") %>
          </div>
        </div>
        
	    </div>
	    
	    <% if can_submit %>
	    <div class="col-xs-12 col-md-4">
	      <div class="form-group">
          <%= link_to "Update", "/markets/#{item.region_id}/types/#{item.type_id}", :id => "update-region", :class => "btn btn-primary" %>
	      </div>
	    </div>
	    <% end %>
    </div>
    
    <% if !exclude_solar_systems %>
    <div class="row">
		  <div class="col-xs-12">
		    <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <%= radio_button_tag :market_in, :solar_system, item.market_in == "solar_system" %>
            </span>
            <span class="input-group-addon">Solar System</span>
            <span id="solar_id" style="display:none"><%= item.solar_id %></span>
            <%= text_field_tag :solar_name, item.solar_name, :placeholder => "Name", :autocomplete => :off, :data => { :provide =>"typeahead", :source => SolarSystem.all.map{ |s| s.name } }, :class=>"form-control" %>
          </div>
        </div>
		  </div>
	  </div>
    <% end %>
    
    <% if !exclude_items %>
    <div class="row">
		  <div class="col-xs-12">
		    <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Item</span>
            <%= text_field_tag :item_name, item.solar_name, :placeholder => "Name", :autocomplete => :off, :data => { :provide =>"typeahead", :source => [] }, :class=>"form-control" %>
          </div>
        </div>
		  </div>
	  </div>
    <% end %>
	
  </div>
</div>
<!-- Market Details End -->
