<!-- Market Details -->
<!-- Must be inside a <form> tag!-->
<div class="panel panel-primary">
  <div class="panel-heading">Market Details</div>
  <div class="panel-body">

	  <div class="row">
	    <div class="col-xs-12">
	      <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <%= radio_button_tag :market_in, :region, true %>
            </span>
            <span class="input-group-addon">Using Region</span>
            <%= select_tag(:region_id, options_for_select(Region.all.map{ |r| [r.name, r.id] }, 10000002), :class=>"form-control") %>
          </div>
        </div>
	    </div>
    </div>
	
	  <div class="row">
		  <div class="col-xs-12">
		    <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              <%= radio_button_tag :market_in, :solar_system %>
            </span>
            <span class="input-group-addon">Using Solar System</span>
            <%= text_field_tag :solar_name, nil, :placeholder => "Name", :autocomplete => :off, :data => { :provide =>"typeahead" }, :class=>"form-control" %>
            <%= hidden_field_tag :solar_id %>
          </div>
        </div>
		  </div>
	  </div>
	
  </div>
</div>
<!-- Market Details End -->
